<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Host>smtp.163.com</Host>
  <Port>465</Port>
  <UserName>vedantti@163.com</UserName>
  <Password>vedantti2018</Password>
  <From>vedantti@163.com</From>
  <FromName>vedantti</FromName>
  <FindPwdBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p&gt;感谢使用{shopname}({siteurl})，{username}&lt;br/&gt;请在{deadline}前点击下面链接完成验证或激活&lt;br/&gt;{url}&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;{shopname}{regtime}{email}&lt;/p&gt;</WebcomeBody>
</EmailConfigInfo>